# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Static files
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Migrations cache
*.log